.sliding-puzzle-figure{
  .sliding-puzzle{
    .tile{
      // width: $board-width/3;
      // height: $board-height/3;
      width: 68px;
      height: 68px;
      line-height: 56px;
      text-align: center;
      display: block;
      // float: left;
      font-size: 2em;
      background: white;
      border: 6px solid;
      border-left-color: $light-grey;
      border-top-color: $light-grey;
      border-right-color: $dark-grey;
      border-bottom-color: $dark-grey;
      position: absolute;

    }
  }
}
