@import 'vars';
@import 'tile';

ul{
  list-style-type: none;
}

.sliding-puzzle-figure{
  background: $black;
  width: $board_width;
  height: $board_height;
  color: white;

  .sliding-puzzle{
    margin:0;
    padding:0;
  }
}

figcaption{
  display: block;
  clear:both;
  color: $black;
}
