@import 'vars';
@import 'tile';
*{
  box-sizing: border-box;
}

body{
  font-family: Sans-Serif;
  margin: 0;
}

ul{
  list-style-type: none;
}

.sliding-puzzle-figure{
  margin: 30px;
  .sliding-puzzle{
    background: $black;
    width: $board-width;
    height: $board-height;
    border-radius: .5em;
    font-size:16px;
    margin:0;
    padding:10px;
  }
}

figcaption{
  display: block;
  clear:both;
  color: $black;
  font-style: italic;
  margin: 5px 25px;
  font-size: 19px;
}
